table {
    margin: 0 auto;
}

table {
    margin-top: 25px;
    color: #333;
    background: white;
    border-bottom: 1px solid grey;
    font-size: 12pt;
    border-collapse: collapse;
}

table th {
    font-weight: 700;
    background: rgba(0, 0, 0, .1);
}

table th,
table td {
    padding: .5em;
    border-bottom: 1px solid lightgrey;;
}

tr:nth-of-type(odd) {
    background: rgba(0, 0, 0, .05);
}

textarea {
    resize: none;
    border: none;
    outline: none;
    background-color: transparent;
    overflow: hidden;
    min-height: 25px;
    max-height: 120px;
    min-width: 225px;
    font-size: inherit;
    font-family: inherit;
}

textarea:hover, select:hover {
    background-color: #d3d3d3;
    cursor: pointer;
}

textarea:focus {
    border: 1px solid cadetblue;
}

select {
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    position: relative;
    transform: none;
    max-width: none;
    background-color: inherit;
    font-size: inherit;
}